section div,
header .background > div {
    padding: 3rem 1rem;
    max-width:100%;
}
footer {
    padding: 1rem 1rem;
}
section:nth-child(odd) {
    background-color: #f2f2f2;
    color: black;
}
.background-pic{
    background-image: image("img.jpg");
    background-size: cover;
}
nav {
    background-color: rgba(77,77,77,0.9);
    top: 0;
    position: sticky;
}
.nav-name a{
    padding: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    color: #cc0000;
}
.nav-social a{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #cc0000;
}
.nav-nav a {
    font-size: 18px;

    margin: auto;
    padding: 20px;
    color: #cc0000;
    text-decoration: none;
}
nav a:hover,
nav a:focus {
    color: white;
}


form input,
form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.15rem solid rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
    color: black;
    display: block;
    width: 75%;
}
form button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f2f2f2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
}
form button:hover {
    cursor: pointer;
    background-color: #ccc;
}