section div,
header .background > div {
    padding: 3rem 1rem;
    max-width:100%;
}
footer {
    padding: 1rem 1rem;
}
section:nth-child(odd) {
    background-color: #f2f2f2;
    color: black;
}
header {
    background-color: rgba(77,77,77,0.9);
}
.header-name {
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
}
.header-name a{
    color: #cc0000;
}

.header-social a{
    color: #cc0000;
}
.header-nav a {
    margin: auto;
    padding: 1rem 1rem;
    color: #cc0000;
}
header a:hover,
header a:focus{
    color: white;
}

nav a:hover,
nav a:focus {
    color: white;
}


form input,
form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.15rem solid rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
    color: black;
    display: block;
    width: 75%;
}
form button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f2f2f2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
}
form button:hover {
    cursor: pointer;
    background-color: #ccc;
}